exercicios-js/ex028/node_modules
exercicios-js/ex036/node_modules
exercicios-js/ex039/node_modules
exercicios-node/ex001/node_modules
exercicios-node/ex002/node_modules
exercicios-node/ex004/node_modules
exercicios-node/ex006/node_modules
exercicios-node/ex007/node_modules