body {
    background: rgb(107, 107, 241);
    font: normal 16pt Arial;
}
header {
    color: white;
    text-align: center;
}
main {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 18px rgb(0, 0, 0, 363);
}
#sites {
  background: #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  padding: 0px 10px 0px;
  margin: 10px;
}
h2 {
  font-size: 25px;
}
#sites, p {
  padding-left: 10px;

}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}